<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <style>
        h1 {
        margin-top: 0px !important;
        }
        .label {
        font-size: 22.5px;
        fill: #ffffff;
        text-anchor: middle;
        alignment-baseline: middle;
        }
        .face {
        stroke: #c8c8c8;
        stroke-width: 2;
        }
        .minorTicks {
        stroke-width: 2;
        stroke: white;
        }
        .majorTicks {
        stroke: white;
        stroke-width: 3;
        }
        body {
        margin: auto;
        }
        
        .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        }

        .switch input {display:none;}

        .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        }

        .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        }

        input:checked + .slider {
        background-color: #2196F3;
        }

        input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
        border-radius: 34px;
        }

        .slider.round:before {
        border-radius: 50%;
        }
    </style>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="container-fluid">
    @RenderBody()
</body>
</html>
