<div class="row">
    <div class="col-md-4">
        <h1>Automatic tuning</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <span id="speed">0</span> requests per second. <button id="regression" type="button" class="btn btn-danger pull-right">Regression</button>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <svg width="700" height="700"></svg>
    </div>
    <div class="col-md-6">
        <h3>T-SQL query:</h3>
        <pre>
SELECT AVG( UnitPrice * Quantity )
FROM Sales.OrderLines
WHERE PackageTypeID = @@packagetypeid;</pre>
        <h3>Enable FORCE LAST GOOD PLAN:</h3>
        <pre>
ALTER DATABASE current
SET AUTOMATIC_TUNING ( FORCE_LAST_GOOD_PLAN = ON);</pre>
    </div>
    <div class="col-md-6">
        <div class="btn-group pull-right align-bottom" data-toggle="buttons">
            <label class="btn btn-default active">
                <input type="radio" name="options" id="off" autocomplete="off" checked= checked /> OFF
            </label>
            <label class="btn btn-default">
                <input type="radio" name="options" id="on" autocomplete="off" /> ON
            </label>
        </div>
    </div>
</div>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="http://vizjs.org/viz.v1.0.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="~/js/GraphVizGauge.js"></script>
<script src="/api/demo/init"></script>
<script>
    var gauge = new GraphVizGauge("svg", { to: 400 });
    var perfData = [];
    setInterval(function () {
        $.ajax({
            url: "/api/demo",
            success: function (result) {
                (perfData.length == 10) && perfData.shift();
                if (result > 0)
                    perfData.push(result);
                console.log(perfData);
                var total = 0;
                for (i = 0; i < perfData.length; i++) { total += perfData[i]; }
                var avgDurationMS = total / perfData.length;
                var perf = Math.round(1000 / (avgDurationMS));
                console.log(perf);
                gauge.Data(perf);
                $("#speed").text(perf);
            }
        });
    }, 200);

    $("button#regression").on("click", function () {
        $.ajax("/api/demo/regression");
    });

    $("#on").on("change", function () {
        $.ajax("/api/demo/on");
    });

    $("#off").on("change", function () {
        $.ajax("/api/demo/off");
    });
</script>
<script src="/api/demo/init"></script>
